<%= form_with url: search_cities_path, method: :get, local: true do %>
  <%= label_tag :search, "Search Cities:" %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search" %>
<% end %>

<table>
  <thead>
    <tr>
      <th>City Name</th>
      <th>Country</th>
      <th>City_Area</th>
      <th>Latitude</th>
      <th>Longitude</th>
    </tr>
  </thead>
  <tbody>
    <% @cities.each do |city| %>
      <tr>
        <td><%= link_to city.city_name, city_path(city) %></td>
        <td><%= city.country.country_name %></td>
        <td><%= city.city_area%></td>
        <td><%= city.latitude%></td>
        <td><%= city.longitude%></td>
      
      </tr>
    <% end %>
  </tbody>
</table>

<div id="map" style="height: 400px;"></div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAdc5ZNaMVC_7kLF3ZyKRftz64KjB54atA&callback=initMap" async defer></script>
<script>
  document.addEventListener('DOMContentLoaded', function() {
  if (document.getElementById('map')) {
    initMap(<%= raw @city_markers.to_json %>);
  }
});

  function initMap(cityMarkers) {
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 2,
      center: { lat: 0, lng: 0 }
    });

    cityMarkers.forEach(function(markerInfo) {
      var marker = new google.maps.Marker({
        position: { lat: parseFloat(markerInfo.latitude), lng: parseFloat(markerInfo.longitude) },
        map: map,
        title: markerInfo.city_name
      });
    });
  }
</script>
<%= paginate @cities %>