<!DOCTYPE html>
<html>
<head>
  <title>Intro Project</title>
  <!-- Include any CSS stylesheets or meta tags -->
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%# <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %> 
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAdc5ZNaMVC_7kLF3ZyKRftz64KjB54atA&callback=initMap"></script>
    <style>
      /* 设置地图容器的样式 */
      #map {
        height: 500px;
        width: 100%;
      }
    </style>
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "About", about_path %></li>
              <li><%= link_to "Countries", countries_path %></li>
              <li><%= link_to "Languages", languages_path %></li>
              <li><%= link_to "Cities", cities_path %></li>
              <li><%= link_to "Races", races_path %></li>
        <!-- Add more links as needed -->
      </ul>
    </nav>
  </header>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
