<!DOCTYPE html>
<html>
<head>
  <title>Intro Project</title>
  <!-- Include any CSS stylesheets or meta tags -->
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%# <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %> 
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "About", about_path %></li>
        <!-- Add more links as needed -->
      </ul>
    </nav>
  </header>

  <div class="container">
    <%= yield %>
  </div>

  
</body>
</html>
